.classpath - could be Sarah MacBook Air\AIVibe already subscribed to ClaudePro
.project - fly by Mike1075, hand writeen GDD&PRD files for AIVibe
.settings/ Gemini.md attempts on Dell command prompt not successful
output/ 
target/
